// Colors
$bgc: #ffffff;
$text: #323934;
$subcolor: #b8e193;
$footer-text: #ffffff;

// Breakpoints
$mobile-breakpoint: 500px;
$tablet-breakpoint: 768px;
$normal-breakpoint: 1100px;
$wide-breakpoint: 1550px;
